/* my-energy header css - start */
.my-energy__header {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 245px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-color: white;
}
.my-energy__header__title {
  width: 500px;
  display: flex;
  align-items: flex-end;
}
.my-energy__header__title div {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.my-energy__header__title a {
  text-decoration: none;
  justify-content: space-between;
  font-size: 16px;
  color: inherit;
}

.header__dashboard__display {
  font-weight: 600;
}
.header__dashboard__hide {
  opacity: 0.6;
}

.my-energy__header__title h2 {
  font-weight: 600;
  font-size: 28px;
}

.my-energy__header__profile {
  display: flex;
  align-items: center;
}

.my-energy__header__image {
  width: 45px;
  height: 45px;
  /* border: 1px solid rgba(0, 0, 0, 0.4); */
  border-radius: 50%;
  margin-left: 10px;
}

/* my-energy header css - end */

/* insight-report css - start */

.insight-report {
  width: 99%;
  height: 120px;
  margin: 15px 15px;
  margin-top: 30px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}

.insight-title {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.insight-report span {
  display: block;
  font-size: 25px;
  margin-top: 15px;
  margin-left: 50px;
  font-weight: 600;
}

/* insight-report css - end */

/* real-time monitoring css - start */
#real-time__monitoring {
  width: 99%;
  height: 250px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15px;
  box-sizing: border-box;
}

.intel-box {
  height: 250px;
  width: 30%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
}

/* .real-time__usage__image {
  display: flex;
  align-items: center;
} */

.real-time__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 190px;
}

.real-time__usage__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
}

.real-time__trend__text {
  margin-bottom: 0px;
}

.real-time__trend__text__delta {
  font-size: 12px;
  color: rgba(247, 0, 0, 0.6);
}

.real-time__bill {
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 15px;
}

.real-time__analysis {
  height: 70%;
  text-align: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 20px;
}

.real-time__period {
  font-size: 12px;
}

.real-time__tier {
  width: 30%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; */
}

.real-time__guage-chart {
  height: 120px;
  display: flex;
  justify-content: center;
}

.real-time__trend_graph {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* real-time monitoring css - end */

/* my-energy__intel css - start */
#my-energy__intel {
  width: 99%;
  /* margin: 20px 15px; */
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  height: 300px;
  display: flex;
  justify-content: space-between;
}

#my-energy__intel > div {
  width: 47%;
  height: 265px;
}
.my-energy__intel__contents {
  /* background-color: var(--main-bg-color); */
  width: 98%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intel-box__title {
  margin-bottom: 5px;
}

.chart-container {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-container button {
  margin-top: 35px;
  background-color: white;
  padding: 8px;
  cursor: pointer;
  font-size: 13px;
  border: var(--insight-box-border);
  border-radius: 5px;
  outline: none;
  z-index: 1;
}

/* border-color: rgba(0, 0, 0, 0.8); */

.chart-summary-container,
.chart-summary-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chart-summary-container {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-summary-container h4 {
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 18px;
}

.chart-summary-container h5 {
  margin-bottom: 10px;
  font-size: 12px;
}

.chart-summary-container span {
  margin-bottom: 5px;
  font-size: 18px;
}

.chart-summary-item {
  width: 50%;
}
.chart-summary-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.my-energy__intel__news__blog {
  width: 320px;
  height: 190px;
}

.my-energy__intel__news a {
  display: flex;
  justify-content: center;
}
