@import "reset.css";
@import "category.css";
@import "my-energy.css";
@import "login.css";
@import "chart/donut-myScore.css";
@import "chart/line-realTimeTrend.css";
@import "chart/guage-realTimeTier.css";
@import "chart/progress-realTimeBill.css";
@import "variables.css";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  color: #161e2e;
}

main:not([id="index-main"]),
header {
  margin-left: 215px;
  margin-right: 20px;
}
