.swiper-container,
.swiper-slide {
  width: 430px;
  height: 200px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-container img {
  width: auto;
  height: 200px;
}

.swiper-slide a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.swiper-slide__text {
  position: absolute;
  left: 65px;
  top: 25px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide__date {
  font-size: 13px;
  font-weight: 400;
  margin-top: 5px;
}
